.navbar {
    background: linear-gradient(to bottom, var(--primary-color)50%, var(--secondary-color)200%);
    height: 5rem;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.logo {
    height: 4rem;
    width: 4rem;
    color: var(--secondary-color);
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--secondary-color);
}

.desktopMenuRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktopMenuBtn {
    background: var(--text-color);
    color: var(--menu-button-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    color: var(--menu-button-color);
}

.active {
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--secondary-color);
}

.mobMenu {
    display: none;
    height: 5rem;
    width: 5rem;
    color: var(--secondary-color);
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: var(--light-primary-color);
    border-radius: 1rem;
}

.listItem {
    color: var(--text-color);
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: var(--primary-color);
}

.themeToggle {
    color: var(--secondary-color);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
}