#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 75px;
    margin-bottom: 50px;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    padding-top: 11rem;
}

.introContent {
    height: 100wh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: var(--secondary-color);
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: var(--text-color);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    color: var(--menu-button-color);
}

.btnImg {
    margin: 0 0.5rem 0 0;
    height: 1.25rem;
    width: 1.25rem;
    color: var(--menu-button-color);
    font-size: 1.5rem;
}

.colorPickerToggle {
    margin-left: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.colorPicker {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
}

.editImg {
    margin: 0;
    height: 2rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.colorPicker > div {
    position: relative;
}

@media screen and (max-width: 840px) {
    .bg {
        right: -10vw;
        top: 12rem;
        height: 80vh;
    }
    
    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        right: -20vw;
    }
}