#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 75px;
    margin-bottom: 50px;
}

#intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/donosti.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.5;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    padding-top: 11rem;
}

.introContent {
    height: 100wh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: var(--secondary-color);
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.colorPickerToggle {
    margin-left: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.colorPicker {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    transform: scale(2);
    transform-origin: top left;
    left: 0;
}

.editImg {
    margin: 0;
    height: 2rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.colorPicker > div {
    position: relative;
}

@media screen and (max-width: 840px) {
    .bg {
        right: -10vw;
        top: 12rem;
        height: 80vh;
    }
    
    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        right: -20vw;
    }
}