@import '../../variables.css';
#footer {
    width: 100vw;
    height: 4rem;
    background-color: var(--light-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}